.list{
  width: 25%;
  border: solid 0.2rem #102C57;
  margin: 1rem;
  background-color: #FEFAF6;
}

.listName{
  width: 100%;
  background: #102C57;
  color: #FEFAF6;
  border: none;
  padding: 5px;

  font-family: "Roboto Mono";
  font-weight: 600;
  font-size: 1rem;
}

.listName:focus{
  color: #DAC0A3;
  border: none;
  outline: none;
}

.listItems{
  display: flex;
  flex-direction: column;
}

.listItems .listItem:nth-child(2n){
  background-color: #cccfd4ad;
}

.listItem{
  display: flex;
  align-items: center;
  padding: 0.25rem;

}

.listItemName{
  width: 100%;
  background: none;
  border: none;
  font-family: "Roboto Mono";
  font-weight: 400;
}

.listItemName:focus{
  border: none;
  outline: none;
}

.deleteButton{
  color: #102C57;
}

.deleteButton:hover{
  cursor: pointer;
  color: #DAC0A3;
}

.addButton{
  background-color: #102C57;
  border: none;
  color: #FEFAF6;
  padding: 0.5rem 0.3rem;
  font-family: "Roboto Mono";
  font-weight: 400;
  width: 100%;
}

.addButton:hover{
  cursor: pointer;
  background-color: #DAC0A3;
}