.grid{
  width: 100%;
  display: grid;
  grid-template-columns: auto ;
  gap: 3rem 1rem;
  padding: 0.5rem;
}

@media only screen and (min-width: 425px){
  .grid{
    gap: 2rem 1rem;
    padding: 1rem;
  }
}

@media only screen and (min-width: 750px){
  .grid{
    grid-template-columns: auto auto;
  }
}

@media only screen and (min-width: 1200px){
  .grid{
    grid-template-columns: auto auto auto;
  }
}