@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.font-primary{
  font-family: "Roboto Mono" ,-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
}

.font-heading{
  font-family: "Bebas Neue", sans-serif;
}

.home{
  flex: 1;
  padding: 2rem 2rem;
  width: 100%;
}

.home-header{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 600;
  font-size: 4rem;
  color: #102C57;
}

.home-subheader{
  margin-top: -1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #889fc0;
}

.header-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.color-primary{
  color: #102C57;
}

.color-secondary{
  color: #889fc0;
}

.color-accent{
  color:#DAC0A3;
}

.home-text{
  font-weight: 400;
  line-height: 1;
  font-size: 1.3rem;
}

a.btn{
  font-size: 1rem;
  display: inline-block;
}

.btn-primary{
  font-family: "Roboto Mono" ,-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  border: 0;
  padding: 1rem;
  background-color: #102C57;
  color: whitesmoke !important;
}

.btn-primary:hover{
  transform: scale(1.2);
}

.btn-secondary{
  font-family: "Roboto Mono" ,-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  border: 0;
  padding: 1rem;
  background-color: #cccfd4ad;
  color: black !important;
}

.btn-secondary:hover{
  transform: scale(1.2);
}

.m-top-1{
  margin-top: 1rem;
}

.m-top-2{
  margin-top: 2rem;
}

.m-top-5{
  margin-top: 5rem;
}

.m-end-2{
  margin-right: 2rem;
}

.gap-2{
  gap: 2rem;
}

.gap-3{
  gap: 3rem;
}

.gap-5{
  gap: 5rem;
}

.row-gap-5{
  row-gap: 5rem;
}

.p-1{
  padding: 1rem;
}

.py-2{
  padding: 2rem 0;
}

.icon-size-4{
  width: 4rem !important;
  height: 4rem !important;
}

.heading{
  text-align: center;
  font-size: 3rem;
}

.card-header{
  margin-top: -0.5rem;
  font-size: 1.5rem;
}

.text{
  font-size: 1rem;
}

.grid-3{
  display: grid;
  grid-template-columns: 1fr;
}

.header-grid{
  display: grid;
  grid-template-columns: 1fr;
}

.card{
  text-align: center;
  border: #102C57 solid;
  border-top: 1rem solid #102C57;
}

.ilustration{
  width: 100%;
  height: 100%;
  display: none;
}

.container{
  width: 100%;
}

.number-heading{
  color: #102C57;
  font-size: 3rem;
}

.hiw-grid{
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.number-subheading{
  color: #889fc0;
  font-size: 1.5rem;
  margin-top: -0.75rem;
  margin-bottom: 0.75rem;
}

.text-center{
  text-align: center;
}

.text-end{
  text-align: end;
}

.text-start{
  text-align: start;
}

.hiw-icon{
  display: none !important;
}

.circle{
  display: none !important;
}

@media only screen and (min-width: 535px){
  .header-content{
    text-align: start;
  }
}

@media only screen and (min-width: 768px){
  .grid-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .hiw-grid{
    grid-template-columns: 1fr 5rem 1fr;
    position: relative;
  }

  .hiw-grid :nth-child(3n+0){
    justify-self: start;
  }

  .hiw-grid :nth-child(3n-2){
    justify-self: end;
  }

  .hiw-icon{
    display: block !important;
  }

  .circle{
    display: block !important;
    height: 100%;
    border: 2px solid #cccfd4ad;
    justify-self: center;
    align-self: center;
    position: relative;
  }

  .circle::before{
    display: block;
    content: '';
    width: 1rem;
    height: 1rem;
    border: 4px solid #cccfd4ad;
    background: #FEFAF6;
    border-radius: 50%;
    position: absolute;
    left: -0.70rem;
    top: 50%;
  }

  .home{
    padding: 3rem 3rem;
  }

  .header-grid{
    display: grid;
    grid-template-columns: 60% 40%;
  }

  .ilustration{
    display: block;
  }

  .home-header{
    font-size: 5rem;
  }

  .home-text{
    font-weight: 300;
    margin-bottom: -0.5rem;
    font-size: 1.5rem;
  }

  .home-subheader{
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1024px){
  .home{
    padding: 5rem 7rem;
  }
}

@media only screen and (min-width: 1440px){
  .home{
    padding: 5rem 13rem;
  }
}