nav{
  padding: 1rem 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: #102C57;
}

nav ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav li{
  padding: 0 1rem;
  color: #FEFAF6;
}

nav li:hover{
  color: #DAC0A3;
  cursor: pointer;
}

nav h1{
  color: #FEFAF6;
  font-weight: 700;
}

@media only screen and (min-width: 600px){
  nav ul{
    flex-direction: row;
    align-items: center;
  }

  nav li{
    margin: 0;
  }

  nav{
    padding: 2rem 3rem;
  }
}